################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReactWork/Assignment/Students Data/students.service/.vs/ShivKms.Students/FileContentIndex/87b95b12-dd1e-4d56-99b0-dc80ff1f3ca4.vsidx
